
@{
    ViewBag.Title = "AdminUrunler";
    Layout = "~/Views/Shared/Adm.cshtml";
}


            <div class="col-sm-10" style="text-align: center;  border-top: 4px solid black;">
                <div class="row mt-2 pb-1" style="border-bottom: 2px solid black;">
                    <div class="col-sm-9 m-auto">
                        <button style="float: left;" class="btn btn-primary" type="button">Yeni Ürün Ekle</button>
                    </div>
                    <div class="col-sm-3 m-auto">
                        <form class="d-flex m-auto">
                            <input class="form-control me-2" type="text" placeholder="Ara">
                            <button class="btn btn-primary" type="button">Ara</button>
                        </form>
                    </div>
                </div>
                <div class="row mt-2 " style="border-bottom: 2px solid black;">
                    <h3>ÜRÜNLER</h3>
                </div>
                <div class="row">
                    <div class="col-sm-12 m-auto mt-2">
                        <button style="float: left;" class="btn btn-danger" type="button">Seçilenleri sil</button>
                    </div>
                </div>
                <div class="row mt-2 pb-1" style="border-bottom: 2px solid black;">
                    <div class="col-sm-1">
                        <input class="form-check-input" type="checkbox" id="check1" name="option1" value="something">
                    </div>
                    <div class="col-sm-1">
                        <p>No</p>
                    </div>
                    <div class="col-sm-2">
                        <p>Foto</p>
                    </div>
                    <div class="col-sm-2">
                        <p>Kategori</p>
                    </div>
                    <div class="col-sm-1">
                        <p>Başlık</p>
                    </div>
                    <div class="col-sm-2 ">
                        <p>Alt başlık</p>
                    </div>
                    <div class="col-sm-1">
                        <p>Aktif</p>
                    </div>
                    <div class="col-sm-2">
                        <p>İşlem</p>
                    </div>
                </div>
                <div class="row mt-2 pb-1" style="border-bottom: 2px solid black;">
                    <div class="col-sm-1">
                        <input class="form-check-input" type="checkbox" id="check1" name="option1" value="something">
                    </div>
                    <div class="col-sm-1">
                        <p>52</p>
                    </div>
                    <div class="col-sm-2">
                        <img src="/PROJE/images//adidas_erkek.jpeg" style="max-width: 150px;">
                    </div>
                    <div class="col-sm-2">
                        <p>Ayakkabı</p>
                    </div>
                    <div class="col-sm-1">
                        <p>Adidas</p>
                    </div>
                    <div class="col-sm-2 ">
                        <p>Erkek Ayakkabı</p>
                    </div>
                    <div class="col-sm-1">
                        <div class="form-check form-switch">
                            <input class="form-check-input" style="width: 60px;height: 30px;" type="checkbox" id="mySwitch" name="darkmode" value="yes" checked>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <img src="/PROJE/images//duzenle.jpg" style="max-width: 30px;">
                        <img class="ms-1" src="/PROJE/images//cop.jpg" style="max-width: 30px;">
                    </div>
                </div>
                <div class="row mt-2 pb-1" style="border-bottom: 2px solid black;">
                    <div class="col-sm-1">
                        <input class="form-check-input" type="checkbox" id="check1" name="option1" value="something">
                    </div>
                    <div class="col-sm-1">
                        <p>52</p>
                    </div>
                    <div class="col-sm-2">
                        <img src="/PROJE/images//adidas_kadin.jpeg" style="max-width: 150px;">
                    </div>
                    <div class="col-sm-2">
                        <p>Ayakkabı</p>
                    </div>
                    <div class="col-sm-1">
                        <p>Adidas</p>
                    </div>
                    <div class="col-sm-2 ">
                        <p>Kadın Ayakkabı</p>
                    </div>
                    <div class="col-sm-1">
                        <div class="form-check form-switch">
                            <input class="form-check-input " style="width: 60px;height: 30px;" type="checkbox" id="mySwitch" name="darkmode" value="yes" checked>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <img src="/PROJE/images//duzenle.jpg" style="max-width: 30px;">
                        <img class="ms-1" src="/PROJE/images//cop.jpg" style="max-width: 30px;">
                    </div>
                </div>
            </div>
 