
@{
    ViewBag.Title = "AdminKullanicilar";
    Layout = "~/Views/Shared/Adm.cshtml";
}

            <div class="col-sm-10" style="text-align: center;  border-top: 4px solid black;">
                <div class="row mt-2 pb-1" style="border-bottom: 2px solid black;">
                    
                </div>
                <div class="row mt-2 " style="border-bottom: 2px solid black;">
                    <h3>KULLANICILAR</h3>
                </div>
                <div class="row">
                    <div class="col-sm-12 m-auto mt-2">
                        <button style="float: left;" class="btn btn-danger" type="button">Seçilenleri sil</button>
                    </div>
                </div>
                <div class="row mt-2 pb-1" style="border-bottom: 2px solid black;">
                    <div class="col-sm-1">
                        <input class="form-check-input" type="checkbox" id="check1" name="option1" value="something">
                    </div>
                    <div class="col-sm-1">
                        <p>No</p>
                    </div>
                    <div class="col-sm-2">
                        <p>Foto</p>
                    </div>
                    <div class="col-sm-1">
                        <p>Kullanıcı ismi</p>
                    </div>
                    <div class="col-sm-1">
                        <p>Kullanıcı Soyadı</p>
                    </div>
                    <div class="col-sm-4 ">
                        <p>Kullanıcı maili</p>
                    </div>
                    <div class="col-sm-2">
                        <p>İşlem</p>
                    </div>
                </div>
                <div class="row mt-2 pb-1" style="border-bottom: 2px solid black;">
                    <div class="col-sm-1">
                        <input class="form-check-input" type="checkbox" id="check1" name="option1" value="something">
                    </div>
                    <div class="col-sm-1">
                        <p>4</p>
                    </div>
                    <div class="col-sm-2">
                        <img src="/PROJE/images/1.jpeg" style="width: 100%; max-width: 150px; ">
                    </div>
                    <div class="col-sm-1">
                        <p>Kenan</p>
                    </div>
                    <div class="col-sm-1">
                        <p>Ünal</p>
                    </div>
                    <div class="col-sm-4 ">
                        <p>kenan310kenan@gmail.com</p>
                    </div>
                    <div class="col-sm-2">
                        <img src="/PROJE/images/duzenle.jpg" style="max-width: 30px;">
                        <img class="ms-1" src="/PROJE/images/cop.jpg" style="max-width: 30px;">
                    </div>
                </div>
                <div class="row mt-2 pb-1" style="border-bottom: 2px solid black;">
                    <div class="col-sm-1">
                        <input class="form-check-input" type="checkbox" id="check1" name="option1" value="something">
                    </div>
                    <div class="col-sm-1">
                        <p>4</p>
                    </div>
                    <div class="col-sm-2">
                        <img src="/PROJE/images/1.jpeg" style="width: 100%;  max-width: 150px;">
                    </div>
                    <div class="col-sm-1">
                        <p>Burcu</p>
                    </div>
                    <div class="col-sm-1">
                        <p>Bakar</p>
                    </div>
                    <div class="col-sm-4 ">
                        <p>burcu456burcu@gmail.com</p>
                    </div>
                    <div class="col-sm-2">
                        <img src="/PROJE/images/duzenle.jpg" style="max-width: 30px;">
                        <img class="ms-1" src="/PROJE/images/cop.jpg" style="max-width: 30px;">
                    </div>
                </div>
            </div>
  