
@{
    ViewBag.Title = "AdminKategoriler";
    Layout = "~/Views/Shared/Adm.cshtml";
}
            <div class="col-sm-10" style="text-align: center;  border-top: 4px solid black;">
                <div class="row mt-2 pb-1" style="border-bottom: 2px solid black;">
                    <div class="col-sm-12 m-auto">
                        <button style="float: left;" class="btn btn-primary" type="button">Yeni Kategori Ekle</button>
                    </div>
                </div>
                <div class="row mt-2 " style="border-bottom: 2px solid black;">
                    <h3>KATEGORİLER</h3>
                </div>
                <div class="row">
                    <div class="col-sm-12 m-auto mt-2">
                        <button style="float: left;" class="btn btn-danger" type="button">Seçilenleri sil</button>
                    </div>
                </div>
                <div class="row mt-2 pb-1" style="border-bottom: 2px solid black;">
                    <div class="col-sm-1">
                        <input class="form-check-input" type="checkbox" id="check1" name="option1" value="something">
                    </div>
                    <div class="col-sm-2">
                        <p>No</p>
                    </div>
                    <div class="col-sm-4">
                        <p>Kategori Adı</p>
                    </div>
                    <div class="col-sm-2">
                        <p>Aktif</p>
                    </div>
                    <div class="col-sm-3">
                        <p>İşlem</p>
                    </div>
                </div>
                <div class="row mt-2 pb-1" style="border-bottom: 2px solid black;">
                    <div class="col-sm-1">
                        <input class="form-check-input" type="checkbox" id="check1" name="option1" value="something">
                    </div>
                    <div class="col-sm-2">
                        <p>14</p>
                    </div>
                    <div class="col-sm-4">
                        <p>Erkek Ayakkabı</p>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-check form-switch">
                            <input class="form-check-input m-auto" style="width: 60px;height: 30px;" type="checkbox" id="mySwitch" name="darkmode" value="yes" checked>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <img src="/PROJE/images//duzenle.jpg" style="max-width: 30px;">
                        <img class="ms-1" src="/PROJE/images//cop.jpg" style="max-width: 30px;">
                    </div>
                </div>
                <div class="row mt-2 pb-1" style="border-bottom: 2px solid black;">
                    <div class="col-sm-1">
                        <input class="form-check-input" type="checkbox" id="check1" name="option1" value="something">
                    </div>
                    <div class="col-sm-2">
                        <p>52</p>
                    </div>
                    <div class="col-sm-4">
                        <p>Bayan Ayakkabı</p>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-check form-switch ">
                            <input class="form-check-input m-auto " style="width: 60px;height: 30px;" type="checkbox" id="mySwitch" name="darkmode" value="yes" checked>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <img src="/PROJE/images//duzenle.jpg" style="max-width: 30px;">
                        <img class="ms-1" src="/PROJE/images//cop.jpg" style="max-width: 30px;">
                    </div>
                </div>
            </div>
  